<%#encoding:UTF-8%>
<%
require 'nokogiri' 
%><!DOCTYPE html>
<html<%= (attr? :nolang) ? nil : %( lang="#{attr :lang, 'en'}") %>>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<%= attr :encoding %>">
<meta name="generator" content="Asciidoctor <%= attr 'asciidoctor-version' %>">
<meta name="viewport" content="width=device-width, initial-scale=1.0"><%
[:description, :keywords, :author, :copyright].each do |key|
  if attr? key %>
<meta name="<%= key %>" content="<%= attr key %>"><%
  end
end %>

<!-- ******** SOCIAL MEDIA META ********** -->

<meta name="title" property="og:title" content="devonfw website">
<meta property="og:type" content="website">
<meta name="image" property="og:image" content="https://devonfw.com/images/devonfwwebsite.png">
<meta name="description" property="og:description" content="devonfw is the standard open source software development platform; Serving the full Software Delivery Life Cycle.">
<meta property="og:url" content="https://devonfw.com/index.html">

<meta name="twitter:title" content="devonfw website">
<meta name="twitter:description" content="devonfw is the standard open source software development platform; Serving the full Software Delivery Life Cycle.">
<meta name="twitter:image" content="https://devonfw.com/images/devonfwwebsite.png">
<meta name="twitter:card" content="summary_large_image">

<!-- ************************************* -->


<title><%= doctitle(:sanitize => true) || (attr 'untitled-label') %></title>
<!-- devonfw website stylesheet -->
<link rel="stylesheet" type="text/css" href="/devonfw.css">
<!-- Lunr -->
<script src="/website/assets/scripts/lunr.min.js"></script>
<!-- JQuery -->
<script src="/website/assets/scripts/jquery.min.js"></script><%
if attr? :icons, 'font'
  if !(attr 'iconfont-remote', '').nil? %>
<link rel="stylesheet" href="<%= attr 'iconfont-cdn', '/website/assets/styles/font-awesome.min.css' %>"><%
  else %>
<link rel="stylesheet" href="<%= normalize_web_path(%(#{attr 'iconfont-name', 'font-awesome'}.css), (attr :stylesdir, '')) %>"><%
  end
end
case attr 'source-highlighter'
when 'coderay'
  if (attr 'coderay-css', 'class') == 'class'
    if @safe >= Asciidoctor::SafeMode::SECURE || (attr? :linkcss) %>
<link rel="stylesheet" href="<%= normalize_web_path('asciidoctor-coderay.css', (attr :stylesdir, '')) %>"><%
    else %>
<%= Asciidoctor::Stylesheets.embed_coderay_stylesheet %>
<%
    end
  end
when 'pygments'
  if (attr 'pygments-css', 'class') == 'class'
    if @safe >= Asciidoctor::SafeMode::SECURE || (attr? :linkcss) %>
<link rel="stylesheet" href="<%= normalize_web_path('asciidoctor-pygments.css', (attr :stylesdir, '')) %>"><%
    else %>
<%= Asciidoctor::Stylesheets.embed_pygments_stylesheet(attr 'pygments-style') %>
<%
    end
  end
when 'highlightjs' %>
<link rel="stylesheet" href="/website/assets/styles/googlecode.min.css">
<script src="/website/assets/scripts/highlight.min.js"></script>
<script src="/website/assets/scripts/common.min.js"></script>
<script>hljs.initHighlightingOnLoad()</script><%
when 'prettify' %>
<link rel="stylesheet" href="/website/assets/styles/prettify.min.css">
<script src="/website/assets/scripts/prettify.min.js"></script>
<script>document.addEventListener('DOMContentLoaded', prettyPrint)</script><%
end
if attr? 'math' %>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [<%= Asciidoctor::INLINE_MATH_DELIMITERS[:latexmath] %>],
    displayMath: [<%= Asciidoctor::BLOCK_MATH_DELIMITERS[:latexmath] %>],
    ignoreClass: 'nomath|nolatexmath'
  },
  asciimath2jax: {
    delimiters: [<%= Asciidoctor::BLOCK_MATH_DELIMITERS[:asciimath] %>],
    ignoreClass: 'nomath|noasciimath'
  }
});
</script>
<script type="text/javascript" src="/website/assets/scripts/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
<script>document.addEventListener('DOMContentLoaded', MathJax.Hub.TypeSet)</script><%
end
%><%= (docinfo_content = docinfo).empty? ? nil : %(
#{docinfo_content}) %>
<link rel="stylesheet" href="/website/assets/styles/bootstrap.min.css">

<script src="/website/assets/scripts/anchor.min.js"></script>

<script src="/website/components/header/search-engine/bundle.js"></script>

<script src="/website/shared/rightmenu.js"></script>

<!-- ************** Google analytics ************ -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-151636804-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-151636804-1');
</script>

<!-- ******************************************** -->


<link rel="stylesheet" type="text/css" href="https://cginternal.devonfw.com/websitesnippets/main.css">
<script src="https://cginternal.devonfw.com/websitesnippets/main.js"></script>
</head>
<body<%= @id && %( id="#{@id}") %> class="<%= [(attr :doctype)].compact * ' ' %>"<%= (attr? 'max-width') ? %( style="max-width: #{attr 'max-width'};") : nil %>><%
unless noheader %>
<div id="website-navbar" class="website-navbar">
<button id="menu-button" class="menu-button">
  <img src="/images/menu-button.svg" width="32px" height="32px" alt=""/>
</button>
<%= Nokogiri::HTML(open(normalize_system_path('header.html', '../../target/generated-docs/website/_includes/header/'))).at_css('div.website-navbar').inner_html %>
<form class="form-inline">
  <div class="search-bar">
    <input
      id="search-field"
      type="search"
      class="form-control mr-sm-2"
      placeholder="Search by keyword(s)..."
      aria-label="Search"
      style="height: auto;"
      autocomplete="off"/>
    <div class="sb-res-pos px-4">
      <div id="click-outside" class="click-outside z-50 hidden"></div>
      <div class="col rounded px-0 border z-100 bg-white hidden search-bar-results" id="search-results-box">
      </div>
    </div>
  </div>
</form>
<a class="navbar-github text-white" href="https://github.com/devonfw/">
  <img src="/images/github-mark.png" width=auto height=auto alt="">
</a></div>
<div id="sidebar" class="wiki-sidebar"></div>
<%
end %>
<div id="content" class="mt-4 mt-sm-5">
<%= content %>
</div><%
unless !footnotes? || attr?(:nofootnotes) %>
<div id="footnotes">
<hr><%
  footnotes.each do |fn| %>
<div class="footnote" id="_footnote_<%= fn.index %>">
<a href="#_footnoteref_<%= fn.index %>"><%= fn.index %></a>. <%= fn.text %>
</div><%
  end %>
</div><%
end %><%
unless nofooter %>
<div id="footer" class="footer"><%= Nokogiri::HTML(open(normalize_system_path('footer.html', '../../target/generated-docs/website/_includes/footer/'))).at_css('div#content').inner_html %></div>
    <script>
      let bb = document.getElementById('menu-button');
      bb.addEventListener('click', function() {
        document.querySelector('.website-navbar ul').classList.toggle('visible');
        console.log(document.querySelector('.website-navbar ul'))
      })
    </script>
    <script type="module">
      import { EditLinksModule } from '/website/shared/editlinks.js';

      let alwaysVisible = true;
      if(document.location.pathname.endsWith("pages/welcome/welcome.html")) {
        alwaysVisible = false;
      }
      EditLinksModule.addEditLinks(alwaysVisible);
    </script>
    <script src="/website/assets/scripts/popper.min.js"></script>
    <script src="/website/assets/scripts/bootstrap.min.js"></script>
<div class="footnote"><sub>
<%if attr? :revnumber %>
<%= %(#{attr 'version-label'} #{attr :revnumber}) %><br><%
end
if attr? 'last-update-label' %>
<%= %(#{attr 'last-update-label'} #{attr :docdatetime}) %><%
end %><%= (docinfo_content = (docinfo :footer)).empty? ? nil : %(
#{docinfo_content}) %>
</sub></div>
</div>
</div><%
end %>
<script>
  if(!document.location.pathname.endsWith("pages/welcome/welcome.html")) {
    anchors.options.visible = 'always';
  }
  anchors.add();
</script>
<script>
  var internalUrls = ["https://cginternal.devonfw.com/websitesnippets/"];
  $(".internal").each(function(){
    internalUrls.forEach((internalUrl, index) => {
      $.ajax({url: internalUrl + $(this).text() + "/index.html" })
      .then(r => {
        var leftDiv = $('<div class="info"><span class="infoText">Internal</span><img class="infoImage" src="' + internalUrl + 'logo.png"/></div>');
        var rightFirstDiv = $('<div class="message">This is only visible inside of the corporate network.</div>');
        var rightLastDiv = $('<div class="content"></div>');
        rightLastDiv.html(r);
        var rightDiv = $('<div class="right"></div>');
        rightDiv.append(rightFirstDiv);
        rightDiv.append(rightLastDiv);
        $(this).html(leftDiv);
        $(this).append(rightDiv);
        $(this).addClass("internal-active");
        $(this).removeClass("internal");
      })
    });
	});
</script>
<script>
      let cookieName = 'cookie_consent';
      let expiryTime = new Date(2037, 11, 21);
      let cookieConsentHtml = `
      <div id="cookie-consent">
        <p>
          We use cookies to perform analytics and enhance user experience. Do you accept to the use of cookies?
        </p>
        <p class="cookie-consent-buttons">
          <a id="decline-cookie-btn" class="btn white-button" href="javascript:void(0)">Decline</a>
          <a id="accept-cookie-btn" class="btn blue-button" href="javascript:void(0)">Accept</a>
        </p>
      </div>
      `;

      if (document.cookie.indexOf(cookieName) < 0) {
        $("body").append(cookieConsentHtml);
      }
      $("#accept-cookie-btn").click(function() {
        document.cookie = `${cookieName}=accept;expires=${expiryTime};path=/`;
        $("#cookie-consent").hide();
      });
      $("#decline-cookie-btn").click(function() {
        $("#cookie-consent").hide();
      });
</script>
</body>
</html>
